/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.8 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
	.featherlight-next,
	.featherlight-previous {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 80%;
		cursor: pointer;
		/* preventing text selection */
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		/* IE9 hack, otherwise navigation doesn't appear */
        background: rgba(0,0,0,0);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        opacity: 0;
	}

	.featherlight-previous {
		left: 0;
		right: 80%;
	}

	
	.featherlight-previous:hover {
        opacity: 1;
        background: rgba(255,255,255,0.7);
        background: -moz-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.7)), color-stop(100%, rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	}

    .featherlight-next:hover{
        opacity: 1;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0.7)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    }
	.featherlight-next span,
	.featherlight-previous span {
		display: none;
		position: absolute;

		top: 50%;
		left: 5%;
		width: 82%;

		/* center horizontally */
		text-align: center;

		font-size: 60px;
		line-height: 60px;

		/* center vertically */
		margin-top: -30px;

		text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
		color: #fff;
		font-style: normal;
		font-weight: 100;
	}
	.featherlight-next span {
		right: 5%;
		left: auto;
	}


	.featherlight-next:hover span,
	.featherlight-previous:hover span {
		display: inline-block;
	}

	.featherlight-swipe-aware .featherlight-next,
	.featherlight-swipe-aware .featherlight-previous {
		display: none;
	}

	/* Hide navigation while loading */
	.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
		display:none;
	}

	/* Hide navigation in case of single image */
	.featherlight-first-slide.featherlight-last-slide .featherlight-previous,
	.featherlight-first-slide.featherlight-last-slide .featherlight-next {
		display:none;
	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px){
	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none;
	}
	.featherlight-next span,
	.featherlight-previous span {
		display: block;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next,
	.featherlight-previous {
		top: 0;
		right: 0;
		left: 85%;
	}

	.featherlight-previous {
		left: 0;
		right: 85%;
	}

	.featherlight-next span,
	.featherlight-previous span {
		margin-top: -30px;
		font-size: 40px;
	}
}
