/*
    Reset CSS
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html{
    font-size: 62.5%;
    margin: 0;
	padding: 0;
	border: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	vertical-align: baseline;
}
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =WordPress Core
-------------------------------------------------------------- */
/**
 * Default Body Class Styles
 */

.rtl {}
.home {}
.blog {}
.archive {}
.date {}
.search {}
.paged {}
.attachment {}
.error404 {}
.single postid-(id) {}
.author {}
.category {}
.tag {}
.page-parent {}
.page-child parent-pageid-(id) {}
.page-template page-template-(template file name) {}
.search-results {}
.search-no-results {}
.logged-in {}

/**
* Default Post Styles
*/

.post-id {}
.post {}
.page {}
.attachment {}
.sticky {}
.hentry {}
.category-misc {}
.category-example {}
.tag-news {}
.tag-wordpress {}
.tag-markup {}

.format-image {}
.format-gallery {}
.format-chat {}
.format-link {}
.format-quote {}
.format-status {}
.format-video {}

/**
* Default Menu Styles
*/

#header .main-menu{} /*container class*/
#header .main-menu ul {} /*container class first unordered list*/
#header .main-menu ul ul {} /*nordered list within an unordered list*/
#header .main-menu li {} /*each navigation item*/
#header .main-menu li a {} /*each navigation item anchor*/
#header .main-menu li ul {} /*unordered list if there is drop down items*/
#header .main-menu li li {} /*each drop down navigation item*/
#header .main-menu li li a {} /*each drap down navigation item anchor*/

.current_page_item{} /*Class for Current Page*/
.current-cat{} /*Class for Current Category*/
.current-menu-item{} /*Class for any other current Menu Item*/
.menu-item-type-taxonomy{} /*Class for a Category*/
.menu-item-type-post_type{} /*Class for Pages*/
.menu-item-type-custom{} /*Class for any custom item that you added*/
.menu-item-home{} /*Class for the Home Link*/

/**
* Default WISIWYG Editor Styles
*/

.entry-content img {}
.alignleft, img.alignleft {}
.alignright, img.alignright {}
.aligncenter, img.aligncenter {}
.alignnone, img.alignnone {}

.wp-caption {}
.wp-caption img {}
.wp-caption p.wp-caption-text {}

.wp-smiley {}

blockquote.left {}
blockquote.right {}

.gallery dl {}
.gallery dt {}
.gallery dd {}
.gallery dl a {}
.gallery dl img {}
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/**
* Default WordPress Widget Styles
*/

.widget {}

#searchform {}
.widget_search {}
.screen-reader-text {}

.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}
.widget_meta ul li a {}

.widget_links {}
.widget_links ul {}
.widget_links ul li {}
.widget_links ul li a {}

.widget_archive {}
.widget_archive ul {}
.widget_archive ul li {} 
.widget_archive ul li a {}
.widget_archive select {}
.widget_archive option {}

.widget_pages {}
.widget_pages ul {}
.widget_pages ul li {}
.widget_pages ul li a {}

.widget_links {}
.widget_links li:after {}
.widget_links li:before {}
.widget_tag_cloud {}
.widget_tag_cloud a {}
.widget_tag_cloud a:after {}
.widget_tag_cloud a:before {}

.widget_calendar {}
#calendar_wrap {}
#calendar_wrap th {}
#calendar_wrap td {}
#wp-calendar tr td {}
#wp-calendar caption {}
#wp-calendar a {}
#wp-calendar #today {}
#wp-calendar #prev {}
#wp-calendar #next {}
#wp-calendar #next a {}
#wp-calendar #prev a {}

.widget_categories {}
.widget_categories ul {}
.widget_categories ul li {} 
.widget_categories ul ul.children {}
.widget_categories a {}
.widget_categories select{}
.widget_categories select#cat {}
.widget_categories select.postform {}
.widget_categories option {}
.widget_categories .level-0 {}
.widget_categories .level-1 {}
.widget_categories .level-2 {}
.widget_categories .level-3 {}

.recentcomments {}
#recentcomments {}
#recentcomments li {}
#recentcomments li a {}
.widget_recent_comments {}

.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}
.widget_recent_entries ul li a {}

.textwidget {}
.widget_text {}
.textwidget p {}

/**
* Default Comment Form Styles
*/

/* Comment Output*/

.comment-list .reply {
    display: block;
}
.comment-list .reply a {
    color:inherit;
    font-size: inherit;
}

.comment-list .alt {}
.comment-list .odd {}
.comment-list .even {}
.comment-list .thread-alt {}
.comment-list .thread-odd {}
.comment-list .thread-even {}
.comment-list li ul.children .alt {}
.comment-list li ul.children .odd {}
.comment-list li ul.children .even {}

.comment-list .vcard {}
.comment-list .vcard cite.fn {}
.comment-list .vcard span.says {}
.comment-list .vcard img.photo {}
.comment-list .vcard img.avatar {}
.comment-list .vcard cite.fn a.url {}

.comment-list .comment-meta {} 
.comment-list .comment-meta a {}
.comment-list .commentmetadata {}
.comment-list .commentmetadata a {}

.comment-list .parent {}
.comment-list .comment {
    padding: 15px 0 0 15px;
    border: none;
    background: rgba(0,0,0,0.04);
}
.comment-list .children {}
.comment-list .pingback {}
.comment-list .bypostauthor {}
.comment-list .comment-author {}
.comment-list .comment-author-admin {}

.comment-list {}
.comment-list li {}
.comment-list li p {}
.comment-list li ul {}
.comment-list li ul.children li {}
.comment-list li ul.children li.alt {}
.comment-list li ul.children li.byuser {}
.comment-list li ul.children li.comment {}
.comment-list li ul.children li.depth-{id} {}
.comment-list li ul.children li.bypostauthor {}
.comment-list li ul.children li.comment-author-admin {}

#cancel-comment-reply {}
#cancel-comment-reply a {}

/* Comment Form */
#respond{
    clear: both;
    display: block;
    padding: 15px;
    background: rgba(0,0,0,0.03);
    margin: 15px auto;
}
#respond textarea,
#respond input[type='text'], 
.contact_form input[type='text'], 
.contact_form textarea{
    width: 100%;
    margin: 0 0 15px 0;
    padding: 15px 12px;
    border: 0;
    outline: 0;
    resize: none;
    font-size: inherit;
    line-height: inherit;
    background-color: rgba(0,0,0,0.05);
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#respond textarea:focus,
#respond input[type='text']:focus, 
.contact_form input[type='text']:focus, 
.contact_form textarea:focus{
    border-color: inherit;
}
#reply-title { } 
#cancel-comment-reply-link { }
#commentform { } 
#author { } 
#email { } 
#url { } 
#comment 
#submit
.comment-notes { } 
.required { }
.comment-form-author { }
.comment-form-email { } 
.comment-form-url { }
.comment-form-comment { } 
.form-allowed-tags { } 
.form-submit

.alignnone {
    margin: 5px 15px 15px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 0 auto;
}

.alignright {
    float:right;
    margin: 5px 0 15px 15px;
}

.alignleft {
    float: left;
    margin:5px 15px 15px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 15px 15px;
}

a img.alignnone {
    margin: 5px 15px 15px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 15px 15px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    border: none;
    max-width: 100%; /* Image does not overflow the content area */
    padding: 0;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 15px 15px 0;
}

.wp-caption.alignleft {
    margin: 5px 15px 15px 0;
}

.wp-caption.alignright {
    margin: 5px 0 15px 15px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 1.3rem;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
        white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.clear::after{
    display:block;
    content:"";
    clear:both
}