/*
    For the admin menu
*/
#adminmenu #toplevel_page_urnext_settings a.wp-has-current-submenu{
    background: #008088;
    font-weight: 100 !important;
}
#adminmenu #toplevel_page_urnext_settings a div.wp-menu-image img{
    padding: 6px;
}
#adminmenu #toplevel_page_urnext_settings a.wp-has-current-submenu div.wp-menu-image img{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation:spin 1.2s linear;
    -moz-animation:spin 1.2s linear;
    animation:spin 1.2s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*
    For the options page
*/

.wrap.urnext-options h2{
    padding: 10px;
    background: #008088;
    color:#fff;
    text-transform: uppercase;
    font-weight: 100;
    margin: 20px 0 0 0;    
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.wrap.urnext-options p.info{
    padding: 5px 10px;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0; 
    border-bottom: 1px solid #f2f2f2;
}
.wrap.urnext-options table.form-table{
    border:none;
    background: #fff;
    margin: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.wrap.urnext-options table.form-table tr th{
    padding-left: 10px
}
.wrap.urnext-options table.form-table tr{
    border-bottom:1px solid #f2f2f2;
}
.wrap.urnext-options table.form-table tr:last-child{
    border-top:1px solid #f2f2f2;
}
.wrap.urnext-options table.form-table tr td > button,
.wrap.urnext-options table.form-table tr td > input,
.wrap.urnext-options table.form-table tr td > select,
.wrap.urnext-options table.form-table tr td > textarea,
.wrap.urnext-options table.form-table tr td .repeatable > button,
.wrap.urnext-options table.form-table tr td .repeatable > input,
.wrap.urnext-options table.form-table tr td .repeatable > select,
.wrap.urnext-options table.form-table tr td .repeatable > textarea{
    display: block;
}
.wrap.urnext-options table.form-table tr td input[type=text]{
    width: 100%;
}
.wrap.urnext-options table.form-table tr td input[type=number]{
    width: 150px;
}
.wrap.urnext-options table.form-table tr td input.wp-color-picker{
    display: inline-block;
    width: auto;
}
.wrap.urnext-options table.form-table tr td textarea{
    width: 100%;
    min-height: 150px;
}
.wrap.urnext-options table.form-table tr td > label,
.wrap.urnext-options table.form-table tr td .repeatable > label{
    margin: 10px 0 5px 0;
    font-weight: bold;
    display: block;
}
.wrap.urnext-options table.form-table tr td p.hint{
    color: #999;
    font-size: 11px;
    margin: 0;
    padding: 0 3px;
}
.wrap.urnext-options table.form-table tr td p.alert{
    color: #a07809;
    font-size: 12px;
    margin: 5px 0;
    padding: 5px;
    display: block;
    background: #fbd363;
    border: 1px solid #cca435;
    text-align: center;
}
.wrap.urnext-options .button.wp-picker-clear{
    display: inline-block;
}
.wrap.urnext-options .button.button-primary{
    margin-right: 10px;
}
.switch-wrapper {
    display: block;
    position: relative;
    top: 5px;
}
.switch-wrapper label{
    display: block;
    color: #999;
    margin: 0 0 5px 0;
}
.switch-button-label {
    float: left;
    font-size: 10pt;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
}

.switch-button-label.off {
    color: red;
}

.switch-button-label.on {
    color: green;
}

.switch-button-background {
    float: left;
    position: relative;
    background: #ccc;
    border: 1px solid #aaa;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.switch-button-button {
    position: absolute;
    left: -1px;
    top : -1px;
    background: #FAFAFA;
    border: 1px solid #aaa;
}

.socialbadge{
    font-size: 30px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: none;
    text-align: center;
    vertical-align: middle;
}

div.repeatcontainer div.repeatable:first-child a.deletebutton{
    display: none;
}
div.repeatable{
    padding: 15px;
    border:1px solid #f2f2f2;
    margin: 0 0 10px 0;
    background: #fafafa;
}
div.repeatable a.deletebutton {
    float: right;
    text-decoration: none;
    color: #fff;
    background: rgb(154, 0, 0);
    border: none;
    padding: 5px;
    font-size: 0.8em;
    margin: -15px -16px 0 0;
}
div.repeatable a.deletebutton:hover{
    background: rgb(172, 0, 0);
}
div.file-selector-box {
    position: relative;
    width: 100%;
    display: block;
    height: 30px;
}
div.file-selector-box button.button-primary{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width:150px;
}
div.file-selector-box input{
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    top: -1px;
    padding-left: 160px;
}